<script src="/js/jquery.min.js"></script>
<script src="/js/table.js"></script>

<div id="title">
<%=mapname%>
</div>
<div id="wrapper">
<div id="map">
</div>
<form method="post" action="?">
<input type="password" name="secret" id="secret" placeholder="Secret"></input>
<input type="hidden" name= "data" value="" id="mapdata"></input>
<input type="Submit" value="Add Map" id="save"></input>
<!--button id="save">Add Map</button-->
</form>
</div>
