<script src="/js/jquery.min.js"></script>
<script>
$(window).load(function() {
  var tables = <%-map%>;
  var people = $.parseJSON('<%-people%>') || [];
  var map = "<%-mapname%>";

  var saved = false;
  var me = localStorage.getItem(map);
  if (me) {
    saved = true;
    me = $.parseJSON(me);
    $('#name').val(me.name);
    $('#information').val(me.info);
    $('#email').val(me.email);
    $('#pic').val(me.picture);
  }

  for (var i in tables) {
    table = tables[i];
    var t_el = $('<div>').addClass('selection-box-invalid').css({
      left: table.x,
      top: table.y,
      width: table.w,
      height: table.h
    });
    $('#map').append(t_el);
  }
  var remove;
  for (var i in people) {
    person = people[i];
    var p_el = $('<div>').addClass('person').css({
      left: person.x,
      top: person.y,
    });
    if (saved && person.name == $('#name').val()) {
      remove = i;
      p_el.addClass('myperson');
    }
    $('#map').append(p_el);
  }
  if (remove) {
    people.splice(remove, 1);
    console.log(people);
  }

  var added = false;
  var relative_x, relative_y;
  $('#map').on('click', function(e) {
    //if (!added) {
      //added = true;
      $('.myperson').each(function() {
        $(this).remove();
      });
      relative_x = e.pageX - $(this).offset().left - 10;
      relative_y = e.pageY - $(this).offset().top - 10;
      var el = $('<div>').addClass('person myperson').css({
      'left': relative_x,
      'top': relative_y
      });
      $('#map').append(el);
    //}

  });

  $('#save').click(function() {
    var me = {
      x: relative_x, 
      y: relative_y,
      name: $('#name').val(),
      picture: $('#pic').val(),
      info: $('#information').val(),
      email: $('#email').val()
    }
    people.push(me);

    $('#people').val(JSON.stringify(people));

    localStorage.setItem(map, JSON.stringify(me));
  });
});
</script>

<div id="title">
<%=mapname%>
</div>
<div id="wrapper">
<div id="map">
</div>
<form action="?" method="post">
<input name="secret" placeholder="Secret" id="secret" type="password" required></input>
<input id="name" placeholder="Name" type="text" required></input>
<input id="information" placeholder="Description" type="text" required></input>
<input id="email" placeholder="Email" type="email" required></input>
<input id="pic" placeholder="Picture URL" type="text" required></input>
<input type="hidden" name="people" id="people"></input>
<input type="Submit" value="Map Me!" id="save"></input>

</form>
</div>
