html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{font-size:100%;}
a {outline: none;} /* Gets rid of Firefox's dotted borders */
a img {border: none;} /* Gets rid of IE's blue borders */

body, html {
	background: url('/images/wood.png');
	font-family: helvetica, arial;
}

#map {
	width: 600px;
	height: 600px;
	position: relative;
	background: url('/images/grid.png');
	border-bottom: 1px solid #93806a;
	border-right: 1px solid #93806a;
	border-top: 1px solid #c6b9aa;
	border-left: 1px solid #c6b9aa;
	border: 1px solid #c7c7c7;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-radius: 10px;
	cursor: crosshair;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


.selection-box-invalid, .selection-box {
	background-color: #188e95;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: absolute;
	border: 1px solid #fff;
}

.selection-box-invalid {
	background-color: #fff;
}


.selection-box:hover {
	cursor: pointer;
}

.selected {
	background-color: #3fb9c1;
}

.person {
	background-color: #ddd;
	width: 20px;
	border: 1px solid #fff;
	position: absolute;
	height: 20px;
	border-radius: 10px;
}

.myperson {
	border: 1px solid #a90329;
	background: #a90329; /* Old browsers */
	background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */

}

#wrapper {
	padding: 10px;
	border-radius: 10px;
	background-color: #f9f9f9;
	margin: 100px auto;
	width: 604px;
	border: 1px solid #c7c7c7;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	position: relative;
	text-align: center;
}


#name, #email, #pic, #information, #secret {
	padding: 10px;
	border: 1px solid #e0e0e0;;
	margin-top: 10px;
	border-radius: 5px;
}

input:focus {
	outline: none;
	background-color: #fffee7;
}

input:hover {
	background-color: #fffee7;
}

#save {
	padding: 10px;
	text-transform: uppercase;
	border: 0;
	border-radius: 5px;
	color: #fff;
	margin-top: 10px;
	background-color: #a13f3f;
	border: 1px solid #841818;
	border-top: 1px solid #c54c4c;
	cursor: pointer;
	text-shadow: 0px 2px 0px #841818;
	border-left: 1px solid #c54c4c;
	width: 230px;
}

#save:hover {
	padding: 10px;
	text-transform: uppercase;
	border: 0;
	cursor: pointer;
	border-radius: 5px;
	color: #fff;
	margin-top: 10px;
	background-color: #a13f3f;
	border: 1px solid #c54c4c;
	border-top: 1px solid #841818;
	text-shadow: 0px 2px 0px #841818;
	border-left: 1px solid #841818;
}

